body{
	padding: 20px;
	margin: 0px;
}

/*Navbar starts here*/

.navbar-custom{
	    width: auto;
    max-width: none;
	
}

.navbar-brand img{
height: 40px;
margin-right: 28px;
}

#navbar-menu{
display: inline-block;
width: auto;
max-width: none;

}

.navbar-nav{
	line-height: 30px;
	font-weight: bold;
	flex-direction: row;

}


.nav-item{
	
	font-size: 12px;
	text-align: center;	
	min-width: 15%;
	margin-right: 5px;

	
}


.navbar-nav li a {
	color: black!important;

	
}


.nav-link img{
	height: 30px;
	margin-right: 10px;
	
}	


.lang-custom{
	display: inline-block;
	text-decoration: none;
	position: relative;
	
}



.navbar-nav li:nth-child(9){

	margin-right: 8px;
	
	
}

.navbar-nav li:nth-child(9) ::after{

background-image: url('../images/chevron-down.svg');
background-repeat: no-repeat;
height:30px;
width: 40px;
content: ' ';
position: absolute;
top: 22px;
left: 39px;
}

.navbar-nav button{

	border: 3px solid black;
	background-color: white;
	padding: 0 10px ;
	margin-left: 22px;
	
}

.lang-custom button::after{
background-image: url('../images/langvik-wave-black.png');
background-repeat: no-repeat;
background-size: contain;
height:16px;
width: 60px;
content: '';
position: absolute;
left: 105px;
top: 22px;

}

#navbar-menu ul.visible {
	display: block;
	background-color: black;
	float: right;
	transition: all .2s ease-in-out;

}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .btn-visibility{
  	display: none;
  }

  
}

@media (max-width: 1199px) {
  
  .navbar-nav
  {
  	display: none;
  }

    .btn-visibility{
  	background-image: url('../images/menu.png');
  	background-repeat: no-repeat;
  	background-color: white;
  	height: 50px;
  	width: 50px;
  	float: right;
  	margin-top: -10px;
  	 }

  	 .navbar-nav li a {
	color: white!important;
	
	} 


 .navbar-custom{
  	 	padding: 0px;
  	 }

 .lang-custom{
	display: inline-block;
     }

  
}


/*Navbar  end here*/

/*Main content css starts from here*/

#bg-image{

background-image: url('../images/langvik_lahjakorttikauppa_bg.jpg');
margin-top: 15px;	
}

/*Main content top section*/
#main-content{
	text-align: center;
	color: white;
	font-size: 14px;

}

#gift-img{

padding: 30px 0;	
}

#gift-text{
	font-size: 10px;
	padding: 30px 50px 30px 0;
	text-align: left;
}

/*hidden element*/

.readmore-hidden{
	padding: 15px;
	
}

.hidden-sec-style{
	background-color: white;
	color: black;
	padding: 10px 10px;
	text-align: left;
}

#hidden-sec-text {

	padding: 20px 40px;
	
}

#hidden-sec-text h2 {
	color: #b3198a;
	font-weight: bold;
	font-size: 2em;
}

#hidden-sec-text text {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 0px;
	line-height: 25px;
}

#hidden-sec-text p{
	margin-top: 10px;
}

#hidden-sec-text button{

	background-color: #b3198a;
	padding: 10 15px;
	border: none;
	color: white;
}



#hidden-button-close{
	position: absolute;
	left: 595px;
	bottom: 370px;	
	color: black;
	font-weight: bold;
	cursor: pointer;


}


#close-btn-img{
	display: inline-block;
	background-image: url('../images/close-sign.jpg');
	background-repeat:no-repeat;
	background-size: contain;
	height:13px;
	width: 15px;
	position: absolute;
	left: 35px;
	top: 6px;

	
}


/*Main content top section end*/

/*Main content tiles section*/

#custom-tiles{
	margin-bottom: 90px;
	background-color: black;
	line-height: 20px;

}

#custom-tiles img{

	height: 200px;
	margin-bottom: 10px;
}

#custom-tiles p{
	position: relative;
	margin: 50px;
	margin-bottom: 50px;
}

#custom-tiles p::before {
	content: '185 EUR';
	color:#b3198a;
	font-weight: bold;
	position: absolute;
	top: -20px;
	left: 43%;

}

#custom-tiles p::after{
	background-color: #b3198a;
	line-height: 20px;
	content: 'LUE LISÄÄ';
	font-size: 10px;
	width: 80px;
	padding: 0px!important;
	position: absolute;
	left: 40%;
	top:50px;
	cursor: pointer;
}



/*Main content tiles sectionend*/
/*Footer goes here*/

.panel-footer{
	background-color: black;
	color: white;
	
	position: relative;
}

#footer-custom section{
	margin-top: 62px;
	margin-bottom: 30px;
	/*padding: 0 50px;*/
	

}

#footer-custom section:nth-child(2) {
	margin-top: 40px;
}
#sec-img img{
	height: 70px;
	width: 150px;
}

#footer-custom h3{
	font-size: 18px;
	font-weight: bold;

}

.icon_wrapper a img {

	width: 25px;

}